<h1>Add a CD</h1>
<p>Add a CD here:</p>
<form action="/cds" method="post">
  <label for="cd-name">CD name</label>
  <input id="cd-name" name="cd-name" type="text" value="Goldberg Variations">
  <label for="cd-artist">CD artist</label>
  <input id="cd-artist" name="cd-artist" type="text" value="JS Bach">
  <label for="cd-price">CD price</label>
  <input id="cd-price" name="cd-price" type="number" value="5">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a>
